<div class="checkout-button">
    {{#unless settings.paid_pinning_plugin_fee}}
        <p class="warning">Missing setting: amount</p>
    {{/unless}}

    {{#d-button action="submitStripeCheckout"
                class=classes
                icon="credit-card"
                disabled=disabledPayButton}}
        <span class="d-button-label">
            Pay {{currency-amount amount=settings.paid_pinning_plugin_fee}} Fee
        </span>
    {{/d-button}}

    {{#if failure}}
        <p class="warning">Sorry, but payment cannot be taken at present: {{{failure}}}</p>
    {{/if}}

    {{#each result as |message|}}
        <div class="message">
            <i class="fa fa-info"></i>
            {{{message}}}
        </div>
    {{/each}}

    {{#if transactionInProgress}}
        Processing Payment
        {{loading-spinner size="small"}}
    {{/if}}
</div>
