button.btn-pp-payment {
    .d-button-label {
        margin-left: 4px;
    }
}

.payment-message {
    i.fa {
        display: inline-block;
        color: #6B6;
        margin-right: 2px;
        vertical-align: middle;
    }
    color: #6B6;
}

.warning {
    display: inline-block;
    color: $danger;
}

.payment-message, .warning {
    padding: 7px 12px;
    margin-left: 10px;
}

.reply-to .pin-controls {
    margin: 0 0 0 20px;
    display: inline-block;

    label {
        margin-bottom: 0;
    }
}

table.txns {
    th {
        text-align: left;
    }
    td, th {
        padding: 4px 10px;
    }
    td.amount {
        text-align: right;
    }
    td .post-date {
        font-size: 0.8em;
    }
}

h2.transactions {
    margin-top: 40px
}



ol.advertise-steps {

    list-style: none;
    counter-reset: listNumbering;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 20px;

    li {
        &:before {
            content: counter(listNumbering);
            background-color: $secondary;
            color: $primary-medium;
            font-size: 1.2em;
            font-weight: bold;
            padding: 2px 7px;
            border-radius: 50%;
            border: 1px solid $primary-medium;
            margin-right: 10px;
            vertical-align: middle;
        }

        .spinner {
            vertical-align: middle;
            margin-right: 10px
        }

        counter-increment: listNumbering;
        margin-bottom: 15px
    }
}
